@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rum+Raisin&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container>main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
:root {
  --back-color: #fdf6f6;
  --box-color: #FEE715;
  --text-color: black;
  --other-color: #12d4ad;
  --stylish-font: "Kaushan Script", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: var(--back-color);
}
#player-mention{
  height: 5vw;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 2.5vw;
  margin: 2vw 0px 0vw 0px;
}
#check-autoplay-label{
  padding: 10px;
  border-radius: 4.2px;
  gap: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
  color: var(--text-color);
  font-size: 2.2vw;
  margin: 1.5vw 0px 0.5vw 0px;
  cursor: pointer;
}
#check-autoplay-label:hover{
  background-color: rgba(115, 115, 115, 0.074);
}
#turn-mode-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  border: none;
  padding: 0.7vw;
  border-radius: 6px;
  font-size: 1.1vw;
  font-weight: 650;
  color: var(--text-color);
  background-color: var(--other-color);
}
.btn {
  transition: box-shadow 0.01s;
}
.btn:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 50px 1px rgba(0, 0, 0, 0.174);
}
.btn:active {
  box-shadow: none;
}
.container > h1 {
  height: 10vw;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--stylish-font);
  font-size: 4.7vw;
  margin: 3vw 0px 0.4vw 0px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--back-color);
  overflow-y: auto;
}
.game {
  width: 24vw;
  height: 24vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 0.8vw;
}
.box {
  -webkit-text-stroke: 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
  padding: 2px;
  width: 6.4vw;
  height: 6.4vw;
  font-size: 4vw;
  color: var(--text-color);
  border: none;
  border-radius: 6px;
  background-color: var(--box-color);
  box-sizing: content-box;
}
.box.disabled {
  cursor: none;
  pointer-events: none;
}
.box:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 50px 1px rgba(0, 0, 0, 0.174);
}
.box:active {
  padding: 0;
  margin: 2px;
  box-shadow: none;
}
::-webkit-scrollbar {
  box-shadow: inset 0px 0px 10px 1px var(--text-color);
  background-color: var(--text-color);
  width: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--other-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1.5px var(--other-color);
}
#winner-announce {
  margin-top: 6vh;
  box-sizing: border-box;
  height: 76vh;
  justify-content: start;
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-direction: column;
}
#winner-announce.hide {
  display: none;
}
.winner {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 4vw;
  margin: 9vh 6vw 6vh 6vw;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.5px;
}
#new-game-btn {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1.5vw;
  margin: 2vh 0px 0vh 0px;
  background-color: var(--other-color);
  border: none;
  border-radius: 7px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.6vw;
  letter-spacing: 0.4px;
}
#reset-btn {
  margin: 2.9vw 0px 20px 0px;
  background-color: var(--other-color);
  border: none;
  border-radius: 7px;
  color: var(--text-color);
  font-weight: bold;
  padding: 0.8vw;
  font-size: 1vw;
  letter-spacing: 0.4px;
}
@media only screen and (max-width: 900px) {
  .container > h1 {
    height: 10vh;
    font-size: 6vw;
    margin: 5.1vw 0px 5vw 0px;
  }
  #player-mention{
    height: 5vh;
    font-size: 3.5vw;
    margin: 5vw 0px 5vw 0px;
  }
  #check-autoplay-label{
    height: 2vh;
    font-size: 3vw;
    margin: 4vw 0px 2vw 0px;
  }
  #turn-mode-btn {
    padding: 1.1vw;
    font-size: 1.6vw;
  }
  #reset-btn {
    margin: 4.5vw 0px 20px 0px;
    padding: 1.1vw;
    font-size: 1.6vw;
  }
  .winner {
    font-size: 4.2vw;
    margin: 9.2vh 6vw 6.2vh 6vw;
  }
  #new-game-btn {
    padding: 1.7vw;
    font-size: 1.7vw;
  }
  .box {
    width: 8vw;
    height: 8vw;
    font-size: 4.9vw;
  }
  .game {
    width: 28vw;
    height: 28vw;
    gap: 0.8vw;
  }
}
@media only screen and (max-width: 810px) {
  .container > h1 {
    height: 11vh;
    font-size: 7vw;
    margin: 6vw 0px 6vw 0px;
  }
  #player-mention{
    height: 9vh;
    font-size: 3.5vw;
    margin: 5vw 0px 0vw 0px;
  }
  #check-autoplay-label{
    height: 5vh;
    font-size: 3.5vw;
    margin: 6vw 0px 0vw 0px;
  }
  #turn-mode-btn {
    padding: 1.2vw;
    font-size: 1.7vw;
  }
  #reset-btn {
    margin: 3vw 0px 20px 0px;
    padding: 1.2vw;
    font-size: 1.7vw;
  }
  .winner {
    font-size: 4.5vw;
    margin: 9.5vh 6vw 6.5vh 6vw;
  }
  #new-game-btn {
    padding: 1.8vw;
    font-size: 1.9vw;
  }
  .box {
    width: 9vw;
    height: 9vw;
    font-size: 5.8vw;
  }
  .game {
    width: 31.5vw;
    height: 31.5vw;
    gap: 0.9vw;
  }
}
@media only screen and (max-width: 710px) {
  .container > h1 {
    height: 11vh;
    font-size: 8vw;
    margin: 7vw 0px 7vw 0px;
  }
  #player-mention{
    height: 9vh;
    font-size: 4vw;
    margin: 6vw 0px 0vw 0px;
  }
  #check-autoplay-label{
    height: 3vh;
    font-size: 3.5vw;
    margin: 3vw 0px 0vw 0px;
  }
  #turn-mode-btn {
    padding: 1.3vw;
    font-size: 1.8vw;
  }
  #reset-btn {
    margin: 6vw 0px 20px 0px;
    padding: 1.5vw;
    font-size: 2vw;
  }
  .winner {
    font-size: 4.7vw;
    margin: 9.7vh 6vw 6.7vh 6vw;
  }
  #new-game-btn {
    padding: 2vw;
    font-size: 2vw;
  }
  .box {
    width: 10vw;
    height: 10vw;
    font-size: 6.9vw;
  }
  .game {
    width: 36vw;
    height: 36vw;
    gap: 1vw;
  }
}
@media only screen and (max-width: 499px) {
  .container > h1 {
    height: inherit;
    font-size: 8.4vw;
    margin: 4vw 0px 0vw 0px;
  }
  #player-mention{
    height: inherit;
    font-size: 4.4vw;
  margin: 4vw 0px 0vw 0px;
  }
  #check-autoplay-label{
    height: inherit;
    font-size: 3.2vw;
    margin: 2.5vw 0px 0vw 0px;
  align-items: flex-end;
  }
  #turn-mode-btn {
    padding: 1.3vw;
    font-size: 1.8vw;
    right: 10px;
    top: 10px;
  }
  .game {
    margin-top: 15vw;
    width: 26vw;
    height: 26vw;
  }
  #reset-btn {
    margin: 6vw 0px 20px 0px;
    padding: 1.5vw;
    font-size: 2vw;
  }
  #winner-announce {
    height: inherit;
  }
  .winner {
    font-size: 4.7vw;
    margin: 0vw 6vw 3vw 6vw;
  }
  #new-game-btn {
    padding: 1.8vw;
    font-size: 2.2vw;
    margin-bottom: 6vw;
  }
  .box {
    width: 10vw;
    height: 10vw;
    font-size: 6.9vw;
  }
  .game {
    width: 38vw;
    height: 38vw;
    gap: 0.8vw;
  }
}
